body {background-image: url(https://s7d2.scene7.com/is/image/TWCNews/kentucky_basketball_bbm_court_ky_0925);
background-repeat: no-repeat;
background-size:cover;
background-position:center;
background-attachment:fixed;}
h1{font-size: 40px;
color: white;
text-align: center;}
h2{font-size: 40px;
color:white; 
text-align: left;}
h3{font-size: 40px;
color: white;
text-align: left;}
.item p {color: white;
text-align: left;
font-size: 30px;}
h4{font-size: 40px;
color: white;
text-align:center;}
.item p {color: white;
text-align: left;
font-size: 30px;}
.established {font-style: italic;}
ul {color: white; background-color: black; width: fit-content; padding:0;}
.picture{
  width: 300px;
  height: auto;
padding-right: 1000px;}
a {color: white;}
a: visited {color:white;}
a: hover {color: white;}
input[type="radio"]:checked {
  background-color: white; /* Fills the whole circle when checked */
  border-color: white;
  /* Changes the color of all radio buttons to green when selected */
input[type="radio"] {color: white;}

